:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
}

body {
  margin: 0;
  font-family: serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.main-content {
  border-left: #D5DCEB 1px solid;
  margin-left: 220px;
  padding: 2rem;
  background: linear-gradient(to bottom right, #D5DCEB 0%, #ffffff 50%); /* light gradient */
  min-height: 100vh;
  color: #222;
}
