:root {
  --bg-color: linear-gradient(to bottom right, #D5DCEB 0%, #ffffff 50%);;
  --text-color: #000000;

  --sidebar-bg: linear-gradient(to bottom, #DEE4F0 -20%, #ffffff 50%, #DEE4F0 120%);

  --logo: #1847A4;
  --inactive-nav: black;
  --card: white;
  --submit-text: #314368;
  --code-color: #1f1f1f;
}

[data-theme='dark'] {
  --bg-color: #1f1f1f;
  --text-color: #f0f0f0;

  --sidebar-bg: #292929;

  --logo: #55C4FF;
  --inactive-nav: #f0f0f0;
  --card: var(--sidebar-bg);
  --submit-text: #a7ddfb;
  --code-color: #dadada;
}

body {
  margin: 0;
  font-family: serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.main-content {
  display: inline-block;
  padding: 2rem;
  background: var(--bg-color); /* light gradient */
  min-height: 100vh;
  color: #222;
  margin-left: 272px;
}

h2{
  font-size: 2.8rem;
  margin-left: 2rem;
  font-family: 'Archivo', sans-serif, sans-serif;
  color: var(--inactive-nav);
  margin-bottom: 1.5rem;
  margin-top: 0;
}


@media (max-width: 700px) {
  .main-content {
    margin: 0;
    padding-left: 1rem;
    padding-right: 0.1rem;
  }
  h2 {
    margin-top: 1rem;
    margin-left: 3.2rem;
  }
}
